:root{
    --shadow: 0px 0px 4px 0px #ccc;;
  
  /* Colors */
  --primary:#2c3e50;
  --secondary:#fff;
  --blue-opc: rgba(131, 216, 241, 0.659);
  --blue: #81d6f1;
  --gray: #cccccc;
  --win:#008000;
  --loose:#ff0000;
  --draw:#808080;
 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .error-message{
    width: 100%;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--loose);
    color: var(--secondary);
  }